* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    /* Variables */
    --card-checkbox-icon: url(/assets/icons/checkbox-icon.svg);
    --paragraph-size: 0.9rem;
    --h1-size: 2rem;
    --h2-size: 1.6rem;
    --h3-size: 1.4rem;
    --box-shadow: 0px 5px 44px 0px rgba(0, 0, 0, 0.1);
    /* Color styles */
    --main-green-color: #299977; 
    --highlight-color: #99351A;
    --main-black-color: #252525;
}

/* Text styles */
p { font-size: var(--paragraph-size); margin: 0; color: var(--main-black-color); line-height: 20px;}
h1 { font-size: var(--h1-size); font-weight: 600; text-align: center; columns: var(--main-black-color);}
h2 { font-size: var(--h2-size); font-weight: 600; color: var(--main-black-color);}
h3 { font-size: var(--h3-size); font-weight: 600; color: var(--main-black-color);}

/* Flex classes */
.flex-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- Components ---- */
/* Nav bar */
.navbar {
    display: flex;
    background-color: var(--main-black-color);
    padding: 15px;
}

.navbar__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    text-transform: uppercase;
}

.navbar__list-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 7.5rem;
    font-size: .9rem;
    font-weight: 700;
    text-decoration: none;
    padding: .625rem 1.25rem;
    border-radius: 5px;
}

.navbar__list-item a:hover {
    cursor: pointer;
    background-color: var(--main-green-color);
}

.navbar__list-item--logo {
    width: 5.6rem;
}

/* Buttons */
.button {
    width: 8.75rem;
    height: 2.3rem;;
    border-radius: 5px;
    background-color: var(--main-green-color);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}
.button--align-right {
    margin-left: auto;
}
.button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.button--round{
    border: 1px solid var(--main-black-color);
    font-size: 1.2rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 1.875rem;
}

.button--round:hover {
    cursor: pointer;
    color: white;
    background-color: var(--main-green-color);
    border-color: var(--main-green-color);
}

/* Hero */
.hero {
    background-image: url("/assets/photos/09-night.jpg");
    background-size: cover;
    background-position: center;
    padding: 3.1rem;
    height: 50vh;
}

.hero h1 {
    margin: auto;
    color: white;
}

.hero--smaller { height: 30vh; }

/* Cards */
.cards {
    max-width: 50rem;
    padding: 3.1rem;
}

.cards__item {
    margin: 1.25rem 0rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;  
    box-shadow: var(--box-shadow);
}

.cards__img-container {
    flex-basis: 12.5rem;
    flex-grow: 999;
}

.cards__img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.cards__info-container {
    min-height: 9.375rem;
    flex-basis: 25rem;
    flex-grow: 1;
    margin: 2.5rem 0rem;
    padding: 0rem 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.25rem;
}

.cards__header {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.cards__dropdown-header {
    color: var(--highlight-color);
    padding-bottom: 10px;
}

.cards__dropdown-header:hover {
    cursor: pointer;
    text-decoration: underline;
}
.cards__dropdown-list {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    gap: 0rem 1.25rem;
    flex-wrap: wrap;
}

.cards__list-item::before {
    content: var(--card-checkbox-icon);
    margin-right: 5px;
}

.cards__list-item {
    margin: auto 0;
    padding: 5px 0px;
    font-size: 0.8rem;
}

.cards__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cards__icon-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 1.25rem;
}

.cards__icon img{
    width: 1.875rem;
    padding-bottom: 7px;
}

.cards__icon p {
    font-size: 0.7rem;
}

.cards__price { 
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 10px;
}

/* Calendar */
.calendar {
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.calendar__dates-list {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

.calendar__date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 2.8rem;
}

.calendar__date:hover {
    cursor: pointer;
    color: white;
    background-color: var(--main-green-color);
}

.calendar__date--chosen {
    color: white;
    background-color: var(--main-green-color);
}

.calendar__date--next-month {
    color: white;
}

.calendar__days-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__day {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 2.8rem;
    font-size: 0.8rem;
    font-weight: 800;
    text-transform: uppercase;
}

/* ----- Pages ----- */
/* Landing Page */
.booking-bar {
    position: relative;
}

.booking-bar h3 {
    position: absolute;
    color: white;
    left: 2.2rem;
    top: -2.5rem;
}

.form {
    padding: 1.875rem 1.875rem 2.5rem 1.875rem;
    background-color: var(--main-black-color);
    color: white;
    border-radius: 10px;
}

.form__bar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.form__container {
    position: relative;
}

.form__label {
    position: absolute;
    left: 3px;
    top: -5px;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
}

.form__input {
    border: none;
    width: 12.5rem;
    height: 2.3rem;
    border-radius: 5px;
    padding-left: 10px;
}

input:focus{
    outline: none;
}

.event {
    padding: 4.375rem .625rem;
    margin-top: 3.125rem;
}

.event__header {
    max-width: 50rem;
    position: absolute;
    left: 1.5rem;
    top: -3.1rem;
  }

.event__container {
    max-width: 50rem;
    gap: 1.25rem;
    flex-wrap: wrap;
    position: relative;
}

.event__box {
    height: 12.5rem;
    width: 12.5rem;
    padding: 1.25rem;
    background-size: cover;
    opacity: 1;
    position: relative;
}
.event__box:hover {
    opacity: 0.8;
    cursor: pointer;
}

.event__box header h3 {
    color: white;
    text-align: center;
}
.event__box header p {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.event__box-logo {
    width: 5.6rem;
    position: absolute;
    top: 12rem;
}

.event__box--1 {background-image: url(/assets/photos/03-day.jpg);}
.event__box--2 {background-image: url(/assets/photos/01-day.jpg);}
.event__box--3 {background-image: url(/assets/photos/04-night.jpg);}
.event__box--4 {background-image: url(/assets/photos/09-night.jpg);}
.event__box--5 {background-image: url(/assets/photos/02-day.jpg);}
.event__box--6 {background-image: url(/assets/photos/08-day.jpg);}

/* Faciliteter Page */
.faciliteter {
    padding: 10px;
    max-width: 50rem;
    margin: auto;
    margin-top: 3.125rem;
    position: relative;
}

.faciliteter__header {
    max-width: 50rem;
    position: absolute;
    left: 4rem;
    top: 1.25rem;
  }

/* Booking page */
.booking {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 3.1rem 0rem;
    flex-wrap: wrap;
}

.booking__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem 3.125rem;
}

.booking__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.875rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: .625rem 3.125rem;
}

.booking__info-data {
    font-size: 1.2rem;
}

@media screen and (max-width: 50rem) {

    .navbar__list {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 1.25rem;
    }

    .navbar__list-item a{
       align-items: flex-end;
       justify-content: flex-start;
        font-size: 1.25rem;
    }

    .navbar__list :nth-child(4) { order: -1; }

    .card__list-item {
        font-size: 0.9rem;
    }
}

/* Tack för din tid! Hoppas du hade det trevligt
och lugnt genom koden. Mvh Berat Ukiqi*/